@model AppLabs.EntityFramework.Data.Entities.Entrada 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Entrada</h1>
    
    <div>
        @Html.DisplayForModel()
    </div>

</div>
